<div class="row">

  <div class="col text-right">

    <button
      type="button"
      class="btn btn-warning"
      (click)="mostrarFormulario()">
      Nuevo gasto
    </button>

  </div>

</div>

<form
  [formGroup]="formulario"
  [ngbCollapse]="isCollapsed"
  (ngSubmit)="guardar()"
  novalidate>

  <div class="row py-2">
    <div class="col-12 col-md-4 offset-md-1 text-md-right">
      <label for="fecha">Fecha</label>
    </div>
    <div class="col-12 col-md-4 text-md-left form-group">
      <div class="input-group">
        <input
          class="form-control"
          formControlName="fecha"
          ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <i class="far fa-calendar-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row py-2">
    <div class="col-12 col-md-4 offset-md-1 text-md-right">
      <label for="concepto">Concepto</label>
    </div>
    <div class="col-12 col-md-4 text-md-left form-group">
      <input
        type="text"
        class="form-control"
        formControlName="concepto">
    </div>
  </div>
  <div
    class="row mx-2"
    *ngIf="(concepto.invalid && (concepto.dirty || concepto.touched)) || (enviado && concepto.invalid)">
    <div *ngIf="concepto.errors.required" class="col-12 alert alert-danger" role="alert">
      Se ha de introducir un concepto
    </div>
  </div>

  <div class="row py-2">
    <div class="col-12 col-md-4 offset-md-1 text-md-right">
      <label for="importe">Importe</label>
    </div>
    <div class="col-12 col-md-4 text-md-left form-group">
      <input
        type="number"
        class="form-control text-right"
        formControlName="importe"
        >
    </div>
  </div>
  <div
    class="row mx-2"
    *ngIf="(importe.invalid && (importe.dirty || importe.touched)) || (enviado && importe.invalid)">
    <div
      *ngIf="importe.errors.required"
      class="col-12 alert alert-danger" role="alert">
      Se ha de introducir un importe
    </div>
    <div
      *ngIf="importe.errors.min"
      class="col-12 alert alert-danger" role="alert">
      El importe ha de ser mayor que 0
    </div>
  </div>

  <div class="row py-2">
    <div class="col text-center">
      <button
        type="submit"
        class="btn btn-primary">
        Guardar
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="ocultarFormulario()">
        Cancelar
      </button>
    </div>
  </div>

</form>

